/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

/* https://www.w3schools.com/css/css_howto.asp */
/* <!--
  Editing team 5G: Shyne Choi & Gavin McGinley
  Soft Dev
  K20 -- Add CSS to P0
  2021-11-29
-->*/
body {
	background-color: #71d982;
	font-family: Copperplate Gothic Light;
}

h1 {
	text-align: center;
	font-family: Goudy Old Style;
	text-decoration:underline;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.textbox{
	background-color: #7FFFD4;
	padding: 20px 20px 20px 20px;
	text-align:left;
	border: 1px solid black;
	width:40%;
	float:center;
	margin:auto;
}

.tablediv {
	padding: 10px 10px 10px 10px;
	background-color: #FAEBD7;
	border: 1px solid black;
}
